<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>BAMS (Bandwidth Anomaly Monitoring System)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="Web site" />
    <meta name="description" content="Site description here" />
    <meta name="keywords" content="keywords here" />
    <meta name="language" content="en" />
    <meta name="subject" content="Site subject here" />
    <meta name="robots" content="All" />
    <meta name="copyright" content="Your company" />
    <meta name="abstract" content="Site description here" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <link id="theme" rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" title="theme" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autocomplete.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.autocomplete.css" />

    <script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/addon.js"></script>
    <script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/custom.js"></script>

    <script src="{{ MEDIA_URL }}js/orbited/Orbited.js"></script>
    <script src="{{ MEDIA_URL }}js/orbited/protocols/stomp/stomp.js"></script>
    <script src="{{ MEDIA_URL }}js/shell.js"></script> 
    <script src="{{ MEDIA_URL }}js/hc/js/highcharts.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/hc/js/modules/exporting.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/datepick/jquery.datepick.js" type="text/javascript"></script>

    <link href="{{ MEDIA_URL }}js/datepick/jquery.datepick.css" media="screen" rel="stylesheet" type="text/css" charset="utf-8" /> 
<style>
#genericchart {width:1000px;height:400px;}
.datepick {width:176px;margin:0 auto;}
.datepick-month-header {height:20px;}
select.datepick-month-year {padding:0px;}
.datepick-nav a.datepick-cmd {color:#FFF;}
.table_real table tr td {text-align:center;border-left:1px solid #EEE;border-right:1px solid #EEE;}
.table_real table th {background:#EEE;border-bottom:1px solid #EEE;text-align:center;}
.next, .back {cursor:pointer;}
</style>
  </head>
  <body> 


    <div id="topWrapper"> 
      <div id="topBanner"><img src="{{ MEDIA_URL }}images/logo.jpg" width="200"></img> <span>Bandwidth Anomaly Monitoring System</span></div> 
    </div>  
    <div id="topnav"> 
      <ul>
        <li{% if main_page %} id="current" style="border:none"{% endif %}>
          <a href="{% url main %}" shape="rect">Home</a>
        </li>
        {% if request.user.is_authenticated %}
        <li{% if settings_page %} id="current" style="border:none"{% endif %}>
          <a href="{% url settings %}" shape="rect">Settings</a>
        </li>
        <li{% if report_page %} id="current" style="border:none"{% endif %}>
          <a href="{% url report %}" shape="rect">Report</a>
        </li>
        <li style="float:right;">
          <a href="{% url signout %}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>  
    <!-- end top wrapper -->  
    <div id="wrapper"> 
      <div id="container"> 
        <div id="banner" class="slideshowContainer"> 
          <!-- put your slideshow images here -->  
          <div class="slideshow"> 
            <a href="{{ MEDIA_URL }}images/kai1.jpg" title="Facade" target="_blank" shape="rect"> 
              <img src="{{ MEDIA_URL }}images/kai1.jpg" /> 
            </a>  
            <a href="{{ MEDIA_URL }}images/kai3.jpg" title="Twisted building" target="_blank" shape="rect"> 
              <img src="{{ MEDIA_URL }}images/kai3.jpg" /> 
            </a>  
            <a href="{{ MEDIA_URL }}images/kai5.jpg" title="Working late" target="_blank" shape="rect"> 
              <img src="{{ MEDIA_URL }}images/kai5.jpg" /> 
            </a> 
            <a href="{{ MEDIA_URL }}images/kai7.jpg" title="Working late" target="_blank" shape="rect"> 
              <img src="{{ MEDIA_URL }}images/kai7.jpg" /> 
            </a> 
          </div>  
          <div class="slideshowLeftCorner"></div>  
          <div class="slideshowRightCorner"></div>  
          <div class="slideshowBottom"></div> 
        </div>  
      {% if request.user.is_authenticated %}
      <span style="font-style:italic;margin:0 auto;font-size:16px;margin-bottom:20px;height:100px;">Welcome <b style="font-style:normal;">{{request.user}}</b></span>      
      {% endif %}

        <!--  content -->
        {% block body %}
        {% endblock %}
        <!-- end content -->  
        <div class="clear" style="height:40px"></div> 
      </div>  
      <!-- end container --> 
    </div>  
    <div id="bottomWrapper"> 
      <div id="footer"> 
        <div class="footer-one-third"> 

    </div> 
  </body>
</html>
