{% extends "index.html" %}

{% block body %}
<script type="text/javascript">
$(document).ready(function(){
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'genericchart',
            zoomType: 'x',
            spacingRight: 20
        },
        title: {
            text: "Memory Usage"
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                 'Click and drag in the plot area to zoom in' :
                 'Drag your finger over the plot to zoom in'
        },
        xAxis: {
            type: 'datetime',
//            tickInterval: 60 * 1000,
            title: {text: 'Minute'}
        },
        yAxis: {
            title: {text: 'Memory Usage'},
            min: 0.0,
            startOnTick: false,
            showFirstLabel: false
        },
        tooltip: {
            shared: true					
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: [0, 0, 0, 10],
                    stops: [
                               [0, Highcharts.getOptions().colors[0]],
                               [1, 'rgba(0,0,0,0)']
                           ]
                },
                lineWidth: 1,
                marker: {
                    enabled: false,
                    states: {
                        hover: {
                            enabled: true,
                            radius: 5
                        }
                    }
                },
                shadow: true,
                states: {
                     hover: {
                         lineWidth: 1						
                     }
                }
            }
        },		
        series: [{
            type: 'area',
            name: 'Memory Usage',
            color: '#F50',
            pointInterval: 60 * 1000,
            data: [{% for i in server_info %}{x: Date.UTC({{i.timestamp.year}}, {{i.timestamp.month}}-1, {{i.timestamp.day}}, {{i.timestamp.hour}}, {{i.timestamp.minute}}), y: {{i.memory}} }{% if not forloop.last %},{% endif %}{% endfor %}]
        }],

    });

    Orbited.settings.port = 9000;
    TCPSocket = Orbited.TCPSocket;
    document.domain = document.domain;
        
    stomp = new STOMPClient();    
    stomp.onopen = function() {
        stomp.subscribe('/monitor', {exchange:''});
    };
                                
//        stomp.onclose = function(code) {
//            alert("Transport closed (code: " + code + ")");
//        };
    stomp.onerror = function(error) {
        alert("onerror: " + error);
    };
    stomp.onerrorframe = function(frame) {
        alert("onerrorframe: " + frame.body);
    };
//        stomp.onconnectedframe = function() {
//            stomp.send("<font color='green'>{{user}} Connected</font>",'/topic/home', {exchange:''});
//        };
    stomp.onmessageframe = function(frame) {
        var txt = frame.body;
        var data = JSON.parse(frame.body);
        
        for (i=0; i < data.length; i++) {
            var key = data[i]['key'];
            var timestamp = data[i]['timestamp'];
            var new_data = [Date.UTC(Number(timestamp.split('-')[0]), Number(timestamp.split('-')[1])-1, Number(timestamp.split('-')[2]), Number(timestamp.split('-')[3]), Number(timestamp.split('-')[4])), Number(data[i]['memory'])];
            chart.series[0].addPoint(new_data, true);
//            $('.memory.'+key).html(''+data[i]['memory']);
        }        
    };            

    stomp.connect('localhost', 54123, 'guest', 'guest');
});
</script>

<section id="home">
    <div id="from" page="main"></div>
    <h3>
    INFO DETAIL SERVER {{server.label}} (IP: {{server.ip}})
    </h3>
    <table>
    <th>Waktu</th><th>Penggunaan Memory (%)</th>
    {% for i in server_info %}
    <tr>
        <td align="center">
            {{i.timestamp}}
        </td>
    
        <td align="center">
            {{i.memory}}
        </td>
    </tr>
    {% endfor %}
    </table>
    <div class="memory {{server.key}}"></div>
    <div id="genericchart"></div>
</section>

{% endblock %}
