{% extends 'index.html' %}

{% block body %}
        <div id="content"> 
          <div style="margin-top:20px;"> 
            <div class="clear"></div>  
            <div> 
              <h1>Sign In</h1>
              <form method="POST" action="{% url signin %}">
              <table>
              <tr>
                  <td>Username</td><td><input type="text" name="username"></input></td>
              </tr>
              <tr>
                  <td>Password</td><td><input type="password" name="password"></input></td>
              </tr>
              <tr>
                  <td colspan="2"><button name="login">Login</button></td>
              </tr>
              </table>
              </form>
            </div>  
          </div>  
          <div class="clear"></div> 
        </div>
{% endblock %}
