{% extends "index.html" %}

{% block body %}
<style>
input[name=password] {display:none;}
</style>
<script type="text/javascript">
function login(username, password) {
    $.ajax({
        type: 'POST',
        url: "{% url signin %}",
        cache: false,
        data: {'username':username, 'password':password},
        beforeSend: function(){
            $('.status').text('Proses...');
        },
        success: function(resp){
            if (resp == 'True') {
                window.location.reload();
            } else {
                $('.status').text('Otentifikasi Gagal');
            }
        }
    });
}
$(document).ready(function(){
    $('input[name=username]').focusin(function(){
        if ($(this).val() == 'Nama Pengguna') {
            $(this).val('');
        }
    });
    $('input[name=username]').focusout(function(){
        if ($(this).val() == '') {
            $(this).val('Nama Pengguna');
        }
        $('input[name=password]').focus();
    });
    $('input[name=password_shadow]').focusin(function(){
        $(this).hide();
        $('input[name=password]').show();
        $('input[name=password]').focus();
    });
    
    $('input[name=password]').focusout(function(){
        if ($(this).val() == '') {
            $(this).hide();
            $('input[name=password_shadow]').show();
        }
    });
    $('button[name=submit]').click(function(){
        login($('input[name=username]').val(), $('input[name=password]').val());
    });
    $('input[name=username], input[name=password]').bind('keypress', function(e) {
        if(e.keyCode==13){
            if ($('input[name=username]').val() != '' && $('input[name=password]').val() != '') {
                login($('input[name=username]').val(), $('input[name=password]').val());
            } else {
                $('.status').text('Please fill the form');
            }
        }
    }); 
});
</script>

<section id="home">
    <div id="from" page="main"></div>
    <h3>
        {% if request.user.is_authenticated %}
        List IP Server yg dimonitor
        {% else %}
        Admin Login
        {% endif %}
    </h3>
    {% if not request.user.is_authenticated %}
    <ul style="padding:0;margin:0;width:100%;">
        <li style="margin:0 auto;text-align:center;">
            <input type="text" name="username" value="Nama Pengguna" style="text-align:center;"></input>
        </li>
        <li style="margin:0 auto;text-align:center;">
            <input type="password" name="password" style="text-align:center;"></input>
            <input type="text" name="password_shadow" value="Kata Sandi" style="text-align:center;"></input>
        </li>
        <li style="margin:0 auto;text-align:center;">
            <button name="submit" class="button">Login</button>
            <div class="status" style="height:50px;"></div>
        </li>
    </ul>
    {% else %}
    {% include 'server_panel.html' %}
    {% endif %}
</section>

{% endblock %}
