{% extends 'index.html' %}

{% block body %}
<script type="text/javascript">
function call_log() {
    $.ajax({
        type:"POST",
        cache:false,
        url:"{% url main %}?date={{timestamp.year}}-{{timestamp.month}}-{{timestamp.day}}",
        data: {'ajax':'true'},
        success: function(resp){
            $('.table_real').fadeTo('slow', 1);
            $('.table_real').html(resp);
        }
    });
}
$(document).ready(function(){
    call_log();
});
</script>
        <div id="content"> 
        <h3>Anomaly Data</h3>
        <table>
        <th>Timestamp</th>
        <th>Upstream Port</th>
        <th>Upstream KB/sec</th>
        <th>Downstream Port</th>
        <th>Downstream KB/sec</th>
        <th>IP</th>
        {% for i in anomalies %}
        <tr>
            <td>{{i.timestamp}}</td>
            <td align="center">{{i.port_up}}</td>
            <td align="center">{{i.kbs_up}} KB/sec</td>
            <td align="center">{{i.port_down}}</td>
            <td align="center">{{i.kbs_down}} KB/sec</td>
            <td>{{i.ip}}</td>
        </tr>
        {% endfor %}
        </table>
        </div>
{% endblock %}
