{% extends 'index.html' %}

{% block body %}
        <div id="content"> 
        <h3>settings</h3>
        <form method="POST" action="{% url settings %}">
        <table>
            <tr>
                <td>Email Alert Send</td>
                <td><input type="text" name="email" value="{{lookup.email}}"></input></td>
            </tr>
            <tr>
                <td>Mobile Number Alert Send</td>
                <td><input type="text" name="hp" value="{{lookup.hp}}"></input></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" name="save_settings" value="Save Settings"></input></td>
            </tr>
        </table>
        </form>
        </div>
{% endblock %}
