<script type="text/javascript">
$(document).ready(function(){
    $('.next, .back').click(function(){
        call_log_page($(this).attr('link'));
    });
});
</script>

           <table style="margin:0 auto;">
           <tr>
               <td colspan="6">
<span class="page_log">
    {% if current_page.has_previous %}
        <span style="margin:0;font-weight:bold;font-size:14px;" class="page_log back" link="{{current_page.previous_page_number}}"><</span>
    {% else %}
    {% endif %}
    <span style="margin:0;color:#555;font-style:italic;">Page <b style="font-style:none;">{{current_page.number}}</b> of <b style="font-style:none;">{{current_page.paginator.num_pages}}</b></span>
    {% if current_page.has_next %}
        <span style="margin:0;font-weight:bold;font-size:14px;" class="page_log next" link="{{current_page.next_page_number}}">></span> 
    {% else %}
    {% endif %}
</span>   
               
               </td>
           </tr>
           <tr>
               <td colspan="6" style="font-weight:bold;font-size:14px;">TOP Bandwidth Usage</td>
           </tr>
                  <th>Timestamp</th>
                  <th>IP</th>
                  <th>Port</th>
                  <th>Bandwidth Usage Downstream<br>KB/sec</th>
                  <th>Port</th>
                  <th>Bandwidth Usage Upstream<br>KB/sec</th>
                  {% for i in bandwidth_log %}
                  <tr>
                      <td>{% if i.anomaly %}<font color="#F00">{{i.timestamp}}</font>{% else %}{{i.timestamp}}{% endif %}</td>
                      <td>{{i.ip}}</td>
                      {% for x in i.high_down %}
                      <td>{{x}}</td>
                      {% endfor %}
                      
                      {% for x in i.high_up %}
                      <td>{{x}}</td>
                      {% endfor %}
                  </tr>
                  {% endfor %}
              </table>

