<footer>
    <div id="foot"> 
        <div class="center footer"> 
        <div class='copy'>&copy; Copyright 2012 <a href="http://void-labs.appspot.com">Void-labs, Inc</a> | <a href="#">Term of Service</a> | <a href="#">Privacy Policy</a> | <a href="#">Refund Policy</a></div> 
        </div>
    </div>
</footer>

<div id="confirmationduplicate">
   <div class="yesbox">
       <p><img src="/media/images/invalid.gif"></img> Duplicated Entry!<br>Do you want to replace it?</p>
       <button class="button" name="yes">Yes</button>
       <button class="button" name="no">No</button>
   </div>
</div>


</body> 
</html> 
