<!DOCTYPE html> 
<html> 
<head> 
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'> 
    
    <meta content='IE=Edge' http-equiv='X-UA-Compatible'> 
    <meta content='no' http-equiv='imagetoolbar'> 
    <title>UPT Itenas</title> 
    <link href="{{ MEDIA_URL }}css/main.css" media="screen" rel="stylesheet" type="text/css" /> 
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autocomplete.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.autocomplete.css" />

    <script src="{{ MEDIA_URL }}js/orbited/Orbited.js"></script>
    <script src="{{ MEDIA_URL }}js/orbited/protocols/stomp/stomp.js"></script>
    <script src="{{ MEDIA_URL }}js/shell.js"></script> 
    <script src="{{ MEDIA_URL }}js/hc/js/highcharts.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/hc/js/modules/exporting.js" type="text/javascript"></script>

    <!--link href="{{ MEDIA_URL }}css/chart.css" rel="stylesheet" type="text/css" /-->
    <!--script src="{{ MEDIA_URL }}js/messaging.js"></script-->
</head> 

<body>
    <header>
        <div id="bar">
            <a href="{% url main %}">
                <img class="logo" src="{{ MEDIA_URL }}images/logo.jpg"></img>
            </a>
            <!--div class="judul">
                <strong></strong>
            </div-->
            <div class="right">
            {% if request.user.is_authenticated %}
                <a href="#">Hello {{request.user.username}}</a>
                <a href="{% url signout %}">Log Out</a> 
            {% endif %}         
            </div>
        </div>
    </header>



<nav>
    <div id="main_nav">         
        <a href="{% url main %}" class="{% if home %}select{% endif %}">
            <img class="icon first" src="/media/images/home.png"></img>
            Beranda
        </a> 
        <img alt="Divider" class="divider" src="/media/images/divider.png"></img> 
        <a href="#" class="{% if report_main %}select{% endif %}"> 
            <img alt="Nav_food" class="icon" src="/media/images/nav_logbook.png"></img>
            Laporan
        </a> 
        <img alt="Divider" class="divider" src="/media/images/divider.png"></img>
        <a href="#" class="{% if chart_main %}select{% endif %}"> 
            <img alt="Nav_charts" class="icon" src="/media/images/nav_charts.png"></img> 
            Grafik
        </a> 
        <img alt="Divider" class="divider" src="/media/images/divider.png"></img>
    </div>
    <div id="feedback"><img src="/media/images/feedback.png"></img></div>
</nav>
